# api
PORT=5000

GIN_MODE=debug

DATABASE_URL=postgresql://postgres:postgres@db:5432/uptime-monitor?sslmode=disable

JWT_REFRESH_SECRET=refresh-secret
JWT_ACCESS_SECRET=access-secret

CLOUDINARY_CLOUD_NAME=cloudinary-cloud-name
CLOUDINARY_API_KEY=cloudinary-api-key
CLOUDINARY_API_SECRET=cloudinary-api-secret

BOOTSTRAP_SECRET=bootstrap-secret
FRONTEND_URL=http://localhost:3000
COOKIE_DOMAIN=localhost

# if you are using local postgres, you can use the following credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=uptime-monitor

OPENAPI_PATH=openapi.json

# web
NEXT_PUBLIC_API_URL=http://localhost:5000
INTERNAL_API_URL=http://api:5000